.jpeg, .png, img {
    border-radius: 20px;
    height: 150px;
    text-align: left;
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.jpeg:hover, .png:hover, img:hover {
    border-radius: 20px;
    height: auto;
    text-align: left;
}

iframe {
    height: 200px;
    width: auto;
    border-radius: 20px;
    text-align: left;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: black;
}

link {
    text-transform: uppercase;
}