.jpeg, .png, img {
    border-radius: 20px;
    height: 150px;
    text-align: left;
    position: relative;
}

.jpeg:hover, .png:hover, img:hover {
    border-radius: 20px;
    height: auto;
    text-align: left;
}